<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.example.bts.dao.DeployRequestReportDAO">


<select id="selectRequestByReportId" parameterType="Long" resultType="DeployRequestsDTO">
	<!-- SELECT * FROM requests WHERE id=#{id} -->
	select r.*,
        u.empno,
        e.ename
	from requests r
	join users u on r.user_id = u.id
	join emp e on u.empno = e.empno
	where r.id=#{id}
	
</select>

<select id="selectCommitFilesByReportId" parameterType="Long" resultType="RequestCommitFileDTO">
	SELECT * FROM commit_file WHERE req_id=#{req_id}
</select>

<select id="selectDevRepoById" parameterType="Long" resultType="DeployFormDevRepoDTO">
	SELECT * FROM dev_repo WHERE id=#{id}
</select>


<insert id="insertApprovalHistory">
	INSERT INTO approval_history(req_id, status_id, content) VALUES(#{req_id}, #{status_id}, #{content})
</insert>


<select id="findApprovalHistoryDetailList" parameterType="Long" resultType="ApprovalHistoryDetailDTO">
	select ah.id, ah.created_at, ah.req_id, ah.status_id, ah.content,  
	        s.description,
	        r.user_id, r.dev_repo_id,
	        al.empno, 
	        e.ename, e.jobno, e.deptno,
	        j.jname,
	        d.dname
	from approval_history ah
	join status s on ah.status_id = s.id
	join requests r on ah.req_id = r.id
	join approval_line al on r.dev_repo_id = al.dev_repo_id
	join emp e on al.empno = e.empno
	join job j on e.jobno = j.jobno
	join dept d on e.deptno = d.deptno
	where ah.req_id=#{req_id}
	order by ah.id desc
</select>
<!-- 취소... 
<select id="findAllByReqId" parameterType="Long" resultMap="approvalHistoryResultMap">
	SELECT ah.id,
        	ah.content,
        	ah.created_at,
        	ah.req_id,
        	s.id as status_id,
        	s.description as description
	FROM approval_history ah
	JOIN status s ON ah.status_id = s.id 
	WHERE ah.req_id =#{req_id} AND ah.status_id !=1  ORDER BY ah.id DESC
</select>
  -->


<resultMap id="approvalHistoryResultMap" type="ApprovalHistoryDTO">
	<id property="id" column="ID"/>
	<result property="content" column="CONTENT" />
	<result property="createdAt" column="CREATED_AT"/>
	<result property="reqId" column="REQ_ID" />
	<association property="status" javaType="StatusDTO">
		<id property="id" column="status_id"/>
		<result property="description" column="description"/>
	</association>
</resultMap>
<select id="findApprovalHistoryByReqId" parameterType="long" resultMap="approvalHistoryResultMap">
	select * from approval_history where req_id = #{req_id} order by id desc
</select>

<select id="findApprovalLinesByDevRepoId" parameterType="long" resultType="String">
	select e.ename from approval_line a join emp e on a.empno = e.empno where dev_repo_id in 
	(select dev_repo_id from requests where id = #{reqId}) order by approval_order
</select>



<select id="findRequestsById" parameterType="long" resultType="DeployRequestsDTO">
	select * from requests where id = #{id}
</select>

<delete id="deleteCommitFilesByReqId" parameterType="long">
	delete from commit_file where req_id=#{req_id}
</delete>
<update id="updateRequestById" parameterType="DeployRequestFormDTO">
	update requests set title=#{title}, created_at=sysdate, dev_repo_id=#{devRepoId}, content=#{content} where id=#{reqId}
</update>
<insert id="insertApprovalHistoryModify" parameterType="long">
	insert into approval_history(req_id, status_id) values(#{req_id}, 1)
</insert>

</mapper>
