<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.example.bts.dao.ProjectDAO">

	<resultMap id="ProjectMap" type="EmpDTO">
		<id property="empno" column="empno" />
		<result property="ename" column="ename" />
		<result property="ephone" column="ephone" />
		<result property="email" column="email" />
		<result property="phone" column="phone" />
		<result property="estate" column="estate" />
		<result property="deptno" column="deptno" />
		<result property="jobno" column="jobno" />
		<result property="birthdate" column="birthdate" />
		<result property="company" column="company" />

		<!-- 부서매핑 -->
		<association property="dept" javaType="DeptDTO">
			<id property="deptno" column="deptno" />
			<result property="dname" column="dname" />
		</association>

		<!-- 직급매핑 -->
		<association property="job" javaType="JobDTO">
			<id property="jobno" column="jobno" />
			<result property="jname" column="jname" />
		</association>

	</resultMap>

	<!-- 프로젝트 전체 조회 -->
	<!-- <select id="findPageProject" resultType="DevRepoDTO"> SELECT d.id, 
		d.project_name AS projectName, d.repo_name AS repoName, d.owner_username 
		AS ownerUsername, LISTAGG(e.ename, ', ') AS memberNames, d.current_stage 
		AS currentStage FROM dev_repo d JOIN project_member p ON d.id = p.dev_repo_id 
		JOIN users u ON p.user_id = u.id JOIN emp e ON u.empno = e.empno GROUP BY 
		d.id, d.project_name, d.repo_name, d.owner_username, d.current_stage OFFSET 
		#{offset} ROWS FETCH NEXT 10 ROWS ONLY </select> -->

	<select id="findPageProject" resultType="DevRepoDTO"
		useCache="false">
		SELECT
		d.id,
		d.project_name AS projectName,
		d.repo_name AS
		repoName,
		d.owner_username AS ownerUsername,
		d.repo_token AS repoToken,
		LISTAGG(e.empno, ', ')
		WITHIN GROUP
		(ORDER BY e.ename) AS memberEmpnos,
		LISTAGG(de.dname, ', ')
		WITHIN GROUP
		(ORDER BY e.ename) AS memberDeptnos,
		LISTAGG(e.ename, ', ')
		WITHIN GROUP
		(ORDER BY e.ename) AS memberNames,
		a_ename.ename AS approverName,
		d.current_stage AS
		currentStage
		FROM
		dev_repo d
		JOIN project_member p ON d.id =
		p.dev_repo_id
		JOIN users u ON
		p.user_id = u.id
		JOIN emp e ON u.empno =
		e.empno
		JOIN dept de on de.deptno = e.deptno
		LEFT JOIN approval_line
		al
		ON d.id = al.dev_repo_id
		AND al.approval_order = 2
		LEFT JOIN emp a_ename
		ON al.empno = a_ename.empno
		GROUP BY
		d.id,
		d.project_name,
		d.repo_name,
		d.owner_username,
		d.repo_token,
		d.current_stage,
		a_ename.ename
		ORDER BY d.id DESC
		OFFSET
		#{offset} ROWS FETCH NEXT 10
		ROWS ONLY
	</select>

	<!-- 프로젝트 페이지네이션 전체 데이터 수 -->
	<select id="countAllProject" resultType="int">
		SELECT COUNT(DISTINCT
		d.id)
		FROM dev_repo d JOIN project_member p ON d.id = p.dev_repo_id
		join users u
		ON p.user_id = u.id
		JOIN emp e ON u.empno = e.empno
	</select>

	<!-- ProjectName으로 조회하기(검색바) -->
	<select id="findProjectByProjectName" resultType="DevRepoDTO">
		SELECT
		d.project_name AS projectName,
		d.repo_name AS repoName,
		d.owner_username AS ownerUsername,
		LISTAGG(e.ename, ', ') AS
		memberNames,
		d.current_stage AS currentStage
		FROM dev_repo d JOIN
		project_member p ON d.id = p.dev_repo_id
		join
		users u ON p.user_id =
		u.id
		JOIN emp e ON u.empno = e.empno
		WHERE d.project_name LIKE '%' ||
		#{project_name} ||'%'
		GROUP BY
		d.project_name, d.repo_name,
		d.owner_username, d.current_stage
	</select>

	<!-- 모달에서 멤버 조회하기 -->
	<select id="findAllUserInModal" parameterType="map"
		resultMap="ProjectMap">
		SELECT e.empno, e.ename, j.jname, d.dname
		from emp e join job
		j on
		e.jobno =
		j.jobno
		join dept d on e.deptno = d.deptno
		where e.empno
		Not IN
		(select e2.empno FROM emp e2 where (e2.deptno=1 AND e2.jobno =
		3) or (
		e2.deptno = 3))
		<if test="ename != null and ename !=''">
			AND e.ename LIKE '%' || #{ename} || '%'
		</if>
		order by e.empno
		OFFSET #{offset} ROWS FETCH
		NEXT 8 ROWS ONLY
	</select>

	<!-- 검색시에 결과 카운트 -->
	<select id="countUserByEnameInModal" parameterType="string"
		resultType="int">
		SELECT COUNT(*)
		FROM emp e
		WHERE e.empno NOT IN (
		SELECT e2.empno
		FROM emp
		e2
		WHERE (e2.deptno = 1 AND e2.jobno = 3)
		OR (e2.deptno = 3)
		)
		<if test="ename != null and ename != ''">
			AND e.ename LIKE '%' || #{ename} || '%'
		</if>
	</select>

	<!-- 프로젝트 생성(dev_repo) -->
	<insert id="insertProject" parameterType="DevRepoDTO"
		useGeneratedKeys="true" keyProperty="id" keyColumn="ID">
		INSERT INTO
		DEV_REPO(project_name,
		owner_username, repo_name, repo_token,
		current_stage, prod_repo_id)
		VALUES(#{projectName},#{ownerUsername},#{repoName},#{repoToken},'진행중',
		1)
	</insert>

	<insert id="insertProjectMember">
		INSERT INTO project_member(dev_repo_id, user_id)
		values(#{projectId},#{userId})
	</insert>

	<!-- 결재라인 추가 -->
	<insert id="insertProjectApprovalLine">
		INSERT INTO approval_line(dev_repo_id,
		approval_order, empno)
		VALUES(#{projectId}, #{order},
		#{approverUserId})
	</insert>

	<select id="findUserByEmpno" parameterType="Long"
		resultType="Long">
		SELECT u.id FROM USERS u JOIN EMP e ON u.empno = e.empno
		WHERE e.empno = #{empno}
	</select>



	<!-- 업데이트 -->
	<update id="updateProject" parameterType="DevRepoDTO">
		UPDATE dev_repo
		SET
		PROJECT_NAME = #{projectName},
		REPO_NAME = #{repoName},
		OWNER_USERNAME =
		#{ownerUsername},
		REPO_TOKEN = #{repoToken}
		WHERE id = #{id}
	</update>

	<update id="updateProjectMember">
		UPDATE project_member
		SET
		USER_ID = #{userId}
		WHERE
		dev_repo_id = #{projectId}
		AND id = #{memberId}
	</update>

	<update id="updateApproval">
		UPDATE
		approval_line
		SET empno = #{approverEmpno}
		WHERE
		dev_repo_id = #{projectId}
		AND
		approval_order = 2
	</update>

	<!-- 기존 멤버 전부 삭제 -->
	<delete id="deleteProjectMembers" parameterType="long">
		DELETE FROM
		project_member WHERE dev_repo_id = #{projectId}
	</delete>
</mapper>