<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="edu.example.bts.dao.UserDAO">
	<resultMap id="userMap"
		type="edu.example.bts.domain.user.UserDTO">
		<id property="id" column="id" />
		<result property="githubUsername" column="github_username" />
		<result property="password" column="password" />
		<result property="ename" column="ename" />
		<result property="ephone" column="ephone" />
		<result property="email" column="email" />
		<result property="phone" column="phone" />
		<result property="estate" column="estate" />
		<result property="empno" column="empno" />

		<!-- ✅ 부서 매핑 -->
		<association property="dept"
			javaType="edu.example.bts.domain.main.DeptDTO">
			<id property="deptno" column="deptno" />
			<result property="dname" column="dname" />
		</association>

		<!-- ✅ 직위 매핑 -->
		<association property="job"
			javaType="edu.example.bts.domain.main.JobDTO">
			<id property="jobno" column="jobno" />
			<result property="jname" column="jname" />
		</association>
	</resultMap>

	<!-- 로그인 처리 1.이메일로 사원 조회 -->
	<select id="findEmpByEmail" parameterType="string"
		resultType="EmpDTO">
		SELECT * FROM emp
		WHERE email = #{email}
		AND estate = '재직중'
	</select>

	<!-- 로그인 처리 2.empno로 유저 조회 -->
	<select id="findUserByEmpno" parameterType="Long"
		resultType="UserDTO">
		SELECT * FROM users
		WHERE empno = #{empno}
	</select>

	<!-- 신규 유저 등록 -->
	<insert id="insertUser" parameterType="UserDTO">
		INSERT INTO users
		(password, github_username, empno)
		VALUES (#{password},
		#{githubUsername}, #{empno})
	</insert>

	<!-- 사원관리 페이지네이션 전체 데이터 수 -->
	<select id="countAllUsers" resultType="int">
		SELECT COUNT(*)
		FROM users
		u
		JOIN emp e ON u.empno = e.empno
		JOIN dept d ON e.deptno = d.deptno
		JOIN job j ON e.jobno = j.jobno
	</select>

	<!-- 사원관리 페이지네이션 10개씩 조회 -->
	<select id="findPageUsers" resultMap="userMap">
		SELECT
		u.id,
		u.github_username,
		u.password,
		e.empno,
		e.ename,
		e.ephone,
		e.email,
		e.phone,
		e.estate,
		d.deptno,
		d.dname,
		j.jobno,
		j.jname
		FROM users u
		JOIN emp
		e ON u.empno = e.empno
		JOIN dept d ON e.deptno = d.deptno
		JOIN job j ON
		e.jobno = j.jobno
		ORDER BY e.empno
		OFFSET #{offset} ROWS FETCH NEXT 10
		ROWS ONLY
	</select>

	<select id="findUserByEname" resultMap="userMap">
		select u.id,
		u.github_username,
		u.password,
		e.empno,
		e.ename,
		e.ephone,
		e.email,
		e.phone,
		e.estate,
		d.deptno,
		d.dname,
		j.jobno,
		j.jname
		FROM users u
		JOIN emp
		e ON u.empno = e.empno
		JOIN dept d ON e.deptno = d.deptno
		JOIN job j ON
		e.jobno = j.jobno
		where e.ename = #{ename}
	</select>

	<select id="findAllUsers" resultMap="userMap">
		SELECT
		u.id,
		u.github_username,
		u.password,
		e.empno,
		e.ename,
		e.ephone,
		e.email,
		e.phone,
		e.estate,
		d.deptno,
		d.dname,
		j.jobno,
		j.jname
		FROM users u
		JOIN emp
		e ON u.empno = e.empno
		JOIN dept d ON e.deptno = d.deptno
		JOIN job j ON
		e.jobno = j.jobno
		ORDER BY e.empno
		offset 0 rows fetch next 10 rows only
	</select>

	<select id="findUsersByDept" parameterType="int"
		resultMap="userMap">
		SELECT
		u.id,
		u.github_username,
		u.password,
		e.empno,
		e.ename,
		e.ephone,
		e.email,
		e.phone,
		e.estate,
		d.deptno,
		d.dname,
		j.jobno,
		j.jname
		FROM users u
		JOIN emp e ON u.empno = e.empno
		JOIN dept d ON e.deptno =
		d.deptno
		JOIN job j ON e.jobno = j.jobno
		WHERE e.deptno = #{deptno}
		ORDER BY e.empno
	</select>
</mapper>