<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="edu.example.bts.dao.UserDAO">
	<!-- 이메일로 사원 조회 -->
	<select id="findEmpByEmail" parameterType="string"
		resultType="EmpDTO">
		SELECT * FROM emp
		WHERE email = #{email}
		AND estate = '재직중'
	</select>

	<!-- empno로 유저 조회 -->
	<select id="findUserByEmpno" parameterType="int"
		resultType="UserDTO">
		SELECT * FROM users
		WHERE empno = #{empno}
	</select>

	<!-- 신규 유저 등록 -->
	<insert id="insertUser" parameterType="UserDTO">
		INSERT INTO users
		(password, github_username, empno)
		VALUES (#{password},
		#{githubUsername}, #{empno})
	</insert>

	<select id="findAllUsers"
		resultType="edu.example.bts.domain.user.UserDTO">
		SELECT
		users.id AS id,
		users.github_username,
		users.password,
		users.empno,
		emp.ename,
		emp.ephone,
		emp.email,
		emp.phone,
		emp.estate,
		emp.deptno,
		emp.jobno
		FROM users
		LEFT JOIN emp ON users.empno = emp.empno
		ORDER BY users.id
	</select>

	<select id="findUsersByDept" parameterType="int"
		resultType="edu.example.bts.domain.user.UserDTO">
		SELECT
		users.id AS id,
		users.github_username,
		users.password,
		users.empno,
		emp.ename,
		emp.ephone,
		emp.email,
		emp.phone,
		emp.estate,
		emp.deptno,
		emp.jobno
		FROM users
		LEFT JOIN emp ON users.empno = emp.empno
		WHERE emp.deptno = #{deptno}
		ORDER BY users.id
	</select>
</mapper>